* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header*/

.header {
  border-bottom: 1px solid gray;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  font-size: 13px;
  justify-content: space-around;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
}

.menu-horizontal > li > a {
  display: block;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  transition: .5s;
}

.menu-horizontal a:nth-child(1):hover {
  color: rgb(57, 27, 141);
}

.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  border: 1px solid gray;
  background-color: white;
}

.menu-horizontal > li:hover > .menu-vertical {
  display: block;
  top: 72px;
}

.menu-vertical li a {
  display: block;
  color: black;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
}

.menu-horizontal > .redondo {
  background-color: white;
  border: 2px solid black;
  font-family: 'Rubik', sans-serif;
  display: block;
  border-radius: 25px;
  padding: 0px 15px;
  height: 32px;
}

.menu-horizontal > .redondo:hover {
  background-color: black;
  color: white;
}

/*Main*/

h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  padding: 87px;
  text-align: center;
  font-size: 27px;
}

.introduccion {
  position: relative;
  left: 550px;
  bottom: 60px;
}

.contactanos {
  background-color: white;
  border: 2px solid black;
  display: block;
  left: 40px;
  border-radius: 25px;
  padding: 0px 20px;
  height: 43px;
}

.contactanos:hover {
  background-color: black;
  color: white;
}

.sumate {
  background-color: white;
  border: 2px solid rgb(57, 27, 141);;
  color: rgb(57, 27, 141);;
  display: block;
  position: relative;
  left: 160px;
  bottom: 43px;
  border-radius: 25px;
  padding: 0px 20px;
  height: 43px;
}

.sumate:hover {
  background-color: rgb(57, 27, 141);
  color: white;
}