* {
  margin: 0;
  padding: 0;
}

/*Header*/

nav {
  max-width: 1200px;
  margin: auto;
  font-size: 15px;
}

.header { 
  border-bottom: 1px solid gray;
  list-style: none; 
  display: flex; 
  padding: 10px 100px; 
  justify-content: space-between;
}

.header-right {
  display: flex; 
  align-items: center;
}

.header-right > li > a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}








p {
  margin-right: 40px;
}

h3 {
  margin: 0px 400px;
  text-align: center;
}

button.redondo {
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0px 20px;
  height: 32px;
}

div#introduction-actions {
  display: flex;
  justify-content: center; 
}